*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    
}
body{
    background: linear-gradient(120deg,#140614,#403a30);
}

header{
    
    height: 200px;
    background: linear-gradient(120deg,#140614,#403a30);
    background-position: center;
    position:relative;
}

a {
    text-decoration: none;
}

header .menu{
    position:static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

header .menu li {
    display:inline-block;
    
}

header .menu a {
    color: white;
    padding: 8px 50px ;
    border-radius: 3px;
    transition: 200ms;
}


header .menu .entrar, header .menu a:hover{
    color: #444;
    background-color: white;
}

.rodape {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;

}

.rodape a:focus{
    font-size: 3px;
}


.banner {
    background-image: url(/img/download\ \(11\).png);
    background-repeat: repeat-x;
    
}

  .cards {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;    
    transition: all 0.3s ease-out;  
    
  }

  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
 
  .card img{
    align-self: center;
    max-width: 64px;
    max-height: 64px; 
  }

 .card h5{
    text-align: center;
 }

#carousel img {
    height: 65.104vh;
}